<!--<fieldset>
    <legend>Login</legend>
<form #myForm="ngForm" (ngSubmit)="loginuser(user)" >

    

    <div>
     Username:<input type="text" name="name" ngControl="name" [(ngModel)]="user.username">
    </div>

    <div>
     Password:<input type="password" name="password" ngControl="password" [(ngModel)]="user.password">
    </div>

     
           
           <button type="submit">Login</button><br>
</form>

</fieldset>-->



<!DOCTYPE html>
<html>
<head>
<title>Tiny Ui Login Form Flat Responsive Widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Tiny Ui Login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="../css/font-awesome.css" rel="stylesheet">		<!-- font-awesome icons -->
<!-- //Custom Theme files -->
<!-- web font -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>web font
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-agileits">
		<h1>Login</h1>
		<div class="mainw3-agileinfo">
			<!-- login form -->
			<div class="login-form">  
				<div class="login-agileits-top"> 	
					
					<form #myForm="ngForm" (ngSubmit)="loginuser(user)" method="post"> 
						<p>Username </p>
                        <input type="text" class="name" name="name" ngControl="name" [(ngModel)]="user.username">
						<p>Password</p>
                        <input type="password" name="password" class="password" ngControl="password" [(ngModel)]="user.password"> 
						<label class="anim">
							<input type="checkbox" class="checkbox">
							<span> Remember me ?</span> 
						</label>   
						<input type="submit" value="Login"> 
					</form> 
						
				</div> 
				
				
			</div> 

			
		</div>	
	</div>	
	<!-- //main -->
	<!-- copyright -->
	
	
</body>
</html>